<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <div class="br-input" :class="[classObject, hasNewClass]">
    <label
      v-if="label && !isLabelInline"
      :class="isInputHighLight ? 'sr-only' : null"
      :for="[id ? id : idDefault]"
    >
      {{ label }}
    </label>
    <div v-if="isLabelInline && !label" class="input-label">
      <label class="text-nowrap" :for="[id ? id : idDefault]">{{
        labelInline
      }}</label>
    </div>

    <input
      v-if="!hasIconsign"
      v-bind="$attrs"
      :id="[id ? id : idDefault]"
      ref="input"
      :type="inputType"
      :autofocus="autofocus"
      :disabled="disabled"
      :placeholder="placeholder"
      :value="modelValue"
      @input="updateInput"
    />

    <div v-if="hasIconsign" ref="inputgroup" class="input-group">
      <div class="input-icon">
        <font-awesome-icon
          v-if="iconSign"
          :icon="iconSign"
          size="1x"
          aria-hidden="true"
        />
      </div>
      <input
        v-bind="$attrs"
        :id="[id ? id : idDefault]"
        :type="inputType"
        :autofocus="autofocus"
        :disabled="disabled"
        :placeholder="placeholder"
        :value="modelValue"
        @input="updateInput"
      />
      <br-button
        v-if="ispassword"
        ref="brinputIcon"
        :icon="pswIcon"
        :disabled="isDisabled"
        circle
        density="small"
        @click="toggleIcon()"
      />
      <br-button
        v-if="icon && !ispassword"
        :icon="icon"
        :disabled="isDisabled"
        circle
        density="small"
      />
    </div>

    <br-button
      v-if="ispassword && !hasIconsign"
      ref="brinputIcon"
      :icon="pswIcon"
      :disabled="isDisabled"
      circle
      density="small"
      @click="toggleIcon()"
    />
    <br-button
      v-if="icon && !ispassword && !hasIconsign"
      ref="buttonIconSign"
      :icon="icon"
      :disabled="isDisabled"
      circle
      density="small"
    />
  </div>
</template>

<script>
import FontAwesomeIcon from "../../font-awesome-share"
import BrButton from "../Button/Button.ce.vue"

export default {
  name: "BrInput",
  components: {
    FontAwesomeIcon,
    BrButton,
  },
  props: {
    /**
     * **[OPCIONAL]** Indicando que tipo de informação deverá ser digitada no Campo de Texto. Posiciona-se por padrão no topo do Campo de Texto.
     */
    label: {
      default: null,
      type: [String, Number],
    },
    /**
     * **[OPCIONAL]** Posicionamento alternativo do label, alinhado à esquerda do Campo de Texto, centralizado em sua altura.
     */
    labelInline: {
      default: null,
      type: [String, Number],
    },
    /**
     * **[OPCIONAL]** Tem a função de auxiliar o usuário em como preencher os dados solicitados. Obrigatoriamente deverá trazer uma informação mais completa que a contida no Rótulo/Label.
     */
    placeholder: {
      default: null,
      type: String,
      validator: function (value) {
        return value.length > 0
      },
    },
    /**
     * **[OPCIONAL]** Quando a página é carregada o elemento deve receber automaticamente o foco.
     */
    autofocus: {
      default: false,
      type: Boolean,
    },
    /**
     * **[OPCIONAL]** Ocorre quando o Input está desabilitado temporariamente para o uso. Neste caso, ele se apresenta com uma opacidade menor, o cursor do Mouse muda de forma e não tem ação sobre o campo.
     */
    disabled: {
      default: false,
      type: Boolean,
    },
    /**
     * **[OPCIONAL]** Estado no qual o Componente Input se apresenta **[ success | danger | info | warning ]**.
     */
    state: {
      type: String,
      default: "",
      // validator: function(value) {
      //     return ['info', 'warning', 'danger', 'success'].includes(value);
      // }
    },
    /**
     * **[OPCIONAL]** Tem relação direta com as dimensões de altura do Campo de Entrada de Texto. Padrão é o medium **[ large | medium | small]**.
     */
    density: {
      type: String,
      default: null,
      validator: function (value) {
        return ["large", "medium", "small"].includes(value)
      },
    },
    /**
     * **[OPCIONAL]** Ícone representativo e sem interatividade, posicionado à esquerda do Input.
     */
    iconSign: {
      default: null,
      type: String,
      validator: function (value) {
        return value.length > 0
      },
    },
    /**
     * **[OPCIONAL]** Ícone do botão que será posicionado à direita do Input. Quando a propriedade is-password for utilizada, não é necessário inserir a propriedade 'icon'.
     */
    icon: {
      default: null,
      type: String,
      validator: function (value) {
        return value.length > 0
      },
    },
    /**
     * **[OPCIONAL]** Transforma o campo input em campo de entrada de senha, com o botão apresentando a opção de visualizar/ocultar senha. O ícone do botão é inserido automaticamente.
     */
    ispassword: {
      type: Boolean,
      default: false,
    },
    /**
     * **[OPCIONAL]** Permite dar um destaque maior na interface, sendo utilizado em situações onde há necessidade de chamar atenção do usuário para este componente, como campos de busca por exemplo.
     */
    isHighlight: {
      type: Boolean,
      default: false,
    },
    /**
     * **[OPCIONAL]** Recomenda-se a inclusão do atributo **id** no input, responsável também pela inclusão automática do atributo **for** do label (importante para especificar a qual elemento do formulário o label está vinculado).
     */
    id: {
      default: null,
      type: String,
    },
    /**
     * **[OPCIONAL]** Facilidade criada para inclusão de nova classe na tag 'br-input'.
     */
    newclass: {
      default: null,
      type: [String],
      validator: function (value) {
        return value.length > 0
      },
    },
    /**
     * **[OPCIONAL]** Usado para recuperar o valor digitado no input.
     */
    modelValue: {
      type: [String, Number],
      default: "",
    },
  },
  emits: ["update:modelValue"],
  data() {
    return {
      pswIcon: "eye-slash",
      pswType: "password",
      nwclass: this.newclass ? this.newclass : null,
      idDefault: "br-input-" + this._.uid,
    }
  },
  computed: {
    inputType: function () {
      if (!this.ispassword) {
        return this.$attrs.type ? this.$attrs.type : "text"
      } else {
        return this.pswType
      }
    },
    isLabelInline() {
      return this.labelInline && !this.isInputHighLight
    },
    isInputHighLight() {
      return this.isHighlight
    },
    classObject() {
      return {
        info: this.state === "info",
        warning: this.state === "warning",
        danger: this.state === "danger",
        success: this.state === "success",
        large: this.density === "large",
        medium: this.density === "medium",
        small: this.density === "small",
        "input-button": this.ispassword || this.icon,
        "input-inline": this.labelInline && !this.isHighlight,
        "input-highlight": this.isHighlight,
      }
    },
    hasNewClass() {
      return this.nwclass
    },
    hasIconsign() {
      return this.iconSign
    },
    isDisabled() {
      return this.disabled
    },
  },
  mounted() {
    if (this.isLabelInline) {
      var div = document.createElement("div")
      div.className = "input-content"
      if (!this.hasIconsign) {
        this.$refs.input.outerHTML =
          '<div class="input-content">' + this.$refs.input.outerHTML + "</div>"
      } else if (this.hasIconsign) {
        this.$refs.inputgroup.outerHTML =
          '<div class="input-content">' +
          this.$refs.inputgroup.outerHTML +
          "</div>"
      }
    }
  },
  methods: {
    toggleIcon() {
      if (this.pswIcon === "eye-slash") {
        this.pswIcon = "eye"
        this.pswType = "text"
      } else if (this.pswIcon === "eye") {
        this.pswIcon = "eye-slash"
        this.pswType = "password"
      }
    },
    updateInput(event) {
      this.$emit("update:modelValue", event.target.value)
    },
  },
}
</script>

<style lang="scss">
@import "@fortawesome/fontawesome-svg-core/styles";
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/input/_input";
@import "~@govbr/dsgov/src/components/button/_button";

input::placeholder {
  font-style: italic;
  font-size: 14px;
}
</style>
