<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <div :id="id" ref="menu" class="br-menu" :class="menuClass" v-bind="$attrs">
    <div v-if="isContextual" class="menu-trigger">
      <br-button type="primary" rectangular block data-toggle="contextual">
        <span class="mr-1">{{ contextualLabel }}</span>
        <font-awesome-icon icon="angle-up" size="1x" aria-hidden="true" />
      </br-button>
    </div>
    <div class="menu-container" :class="[{ active: displayMenu }]">
      <div
        class="menu-panel"
        :class="[{ 'shadow-lg-right px-0 col-lg-2': isContextual }]"
      >
        <div v-if="!isContextual" class="menu-header">
          <div v-if="logoHeader || signature" class="menu-title">
            <img v-if="logoHeader" :src="logoHeader" alt="Imagem ilustrativa" />
            <span v-if="signature">{{ signature }}</span>
          </div>
          <div class="menu-close">
            <br-button
              circle
              aria-label="Fechar o menu"
              data-dismiss="menu"
              icon="times"
              @click="toggleMenu"
            />
          </div>
        </div>
        <nav class="menu-body">
          <!-- Primeiro Nível -->
          <div v-for="Group in menu" :key="Group.id" class="menu-folder">
            <a
              v-if="!isContextual"
              class="menu-item"
              href="javascript: void(0)"
              @click="gotToUrl(Group)"
            >
              <span class="icon">
                <font-awesome-icon
                  :icon="Group.icon"
                  size="1x"
                  aria-hidden="true"
                />
              </span>
              <span class="content">{{ Group.name }}</span>
              <span v-if="Group.list !== undefined" class="support">
                <font-awesome-icon
                  icon="angle-down"
                  size="1x"
                  aria-hidden="true"
                />
              </span>
            </a>

            <div
              v-if="isContextual"
              class="menu-item"
              href="javascript: void(0)"
              @click="gotToUrl(Group)"
            >
              <span class="content">{{ Group.name }}</span>
            </div>

            <ul>
              <!-- Segundo Nível -->
              <li v-for="SubGroup in Group.list" :key="SubGroup.id">
                <a
                  class="menu-item"
                  href="javascript: void(0)"
                  @click="gotToUrl(SubGroup)"
                >
                  <span v-if="!isContextual" class="icon">
                    <font-awesome-icon
                      :icon="SubGroup.icon"
                      size="1x"
                      aria-hidden="true"
                    />
                  </span>
                  <span class="content"> {{ SubGroup.name }} </span>
                  <span
                    v-if="!isContextual && SubGroup.list !== undefined"
                    class="support"
                  >
                    <font-awesome-icon
                      icon="angle-right"
                      size="1x"
                      aria-hidden="true"
                    />
                  </span>
                </a>
                <!-- Terceiro Nível -->
                <ul v-if="!isContextual && SubGroup.list !== undefined">
                  <li
                    v-for="SubGroupItem in SubGroup.list"
                    :key="SubGroupItem.id"
                  >
                    <a
                      class="menu-item"
                      href="javascript: void(0)"
                      @click="gotToUrl(SubGroupItem)"
                    >
                      <span class="icon">
                        <font-awesome-icon
                          icon="tree"
                          size="1x"
                          aria-hidden="true"
                        />
                      </span>
                      <span class="content">{{ SubGroupItem.name }}</span>
                      <span
                        v-if="SubGroupItem.list !== undefined"
                        class="support"
                      >
                        <font-awesome-icon
                          icon="angle-right"
                          size="1x"
                          aria-hidden="true"
                        />
                      </span>
                    </a>
                    <ul v-if="SubGroupItem.list !== undefined">
                      <li v-for="item in SubGroupItem.list" :key="item.id">
                        <a
                          class="menu-item"
                          href="javascript: void(0)"
                          @click="gotToUrl(item)"
                        >
                          <span class="content">{{ item.name }}</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
        <div
          v-if="!isContextual && (logos || links || social || info)"
          class="menu-footer"
        >
          <div v-if="logos" class="menu-logos">
            <img
              v-for="logo in menuLogos"
              :key="logo.id"
              :src="logo.src"
              :alt="logo.alt"
            />
          </div>
          <div v-if="links" class="menu-links">
            <a v-for="link in menuLinks" :key="link.id" :href="link.url">
              <span class="mr-1">{{ link.titulo }}</span>
              <font-awesome-icon
                :icon="link.icon"
                size="1x"
                aria-hidden="true"
              />
            </a>
          </div>
          <div v-if="social || socialTitle" class="menu-social">
            <div v-if="socialTitle" class="text-semi-bold mb-1">
              {{ socialTitle }}
            </div>
            <div v-if="social" class="sharegroup">
              <div v-for="item in menuSocial" :key="item.id" class="share">
                <a
                  class="br-button circle"
                  :href="item.url"
                  :aria-label="item.ariaLabel"
                >
                  <font-awesome-icon
                    :icon="item.icon"
                    size="1x"
                    aria-hidden="true"
                  />
                </a>
              </div>
            </div>
          </div>
          <div v-if="info" class="menu-info">
            <div class="text-center text-down-01">
              {{ info }}
            </div>
          </div>
        </div>
      </div>
      <div
        class="menu-scrim"
        data-dismiss="menu"
        tabindex="0"
        @click="toggleMenu"
      />
    </div>
  </div>
</template>

<script>
import FontAwesomeIcon from "../../font-awesome-share"
import BRMenu from "../../../node_modules/@govbr/dsgov/dist/components/menu/menu"
import { parsePropStringToJSON } from "../../util/Utils"

export default {
  name: "BrMenu",
  components: {
    FontAwesomeIcon,
  },
  props: {
    /**
     * Menu principal do tipo Empurrando (Push). Padrão: menu flutuando (Off Canvas).
     */
    isPush: {
      type: Boolean,
      default: false,
    },
    /**
     * Menu principal do tipo Contextual. Padrão: menu flutuando (Off Canvas).
     */
    isContextual: {
      type: Boolean,
      default: false,
    },
    /**
     * Exibe o menu ao carregar a pagina.
     */
    showMenu: {
      type: Boolean,
      default: false,
    },
    /**
     * Recebe uma string no formato JSON ou um Objeto. Para webcomponents é necessário ser tipo String.
     */
    list: {
      default: null,
      type: [String, Object],
    },
    /**
     *  O atributo data-breakpoint é opcional. Por padrão serão aplicadas as classes de breakpoint .col-sm-4 e .col-lg-3 no menu OffCanvas.
     */
    dataBreakpoints: {
      default: null,
      type: String,
      validator: function (value) {
        return value.length > 0
      },
    },
    /**
     *  Título ou assinatura que identifica o site ou o sistema, localizado no cabeçalho do menu.
     */
    signature: {
      default: null,
      type: String,
      validator: function (value) {
        return value.length > 0
      },
    },
    /**
     * Logo ou imagem que aponta para o endereço do arquivo de imagem, localizado no cabeçalho do menu.
     */
    logoHeader: {
      default: null,
      type: String,
    },
    /**
     * Lista de Logos localizado no rodapé do menu. Recebe uma string no formato JSON com os atributos 'src' e 'alt'.
     */
    logos: {
      default: null,
      type: [String, Object],
    },
    /**
     * Lista de Links para acesso a sites externos, localizado no rodapé do menu. Recebe uma string no formato JSON com os atributos 'url', 'titulo' e 'icon'.
     */
    links: {
      default: null,
      type: [String, Object],
    },
    /**
     * Lista de Links para acesso a redes sociais, localizado no rodapé do menu. Recebe uma string no formato JSON com os atributos 'url', 'aria-label' e 'icon'.
     */
    social: {
      default: null,
      type: [String, Object],
    },
    /**
     * Título para a seção que contém a lista de Links para acesso a redes sociais, localizado no rodapé do menu.
     */
    socialTitle: {
      default: null,
      type: String,
    },
    /**
     *  Informações adicionais em formato de texto, localizado no rodapé do menu.
     */
    info: {
      default: null,
      type: String,
      validator: function (value) {
        return value.length > 0
      },
    },
    /**
     * Se refere ao nível de espaçamento interno nos itens. Padrão é a densidade média **[ large | small]**.
     */
    density: {
      default: null,
      type: String,
      validator: function (value) {
        return ["large", "small"].includes(value)
      },
    },
    /**
     * Rótulo do menu contextual, apresentado como uma barra na base da área visível da tela no redimensionamento para grid de 4 colunas.
     */
    contextualLabel: {
      default: null,
      type: String,
    },
  },
  data() {
    return {
      displayMenu: this.showMenu,
      id: this.isContextual ? null : "br-menu-" + this._.uid,
    }
  },
  computed: {
    menu: function () {
      if (this.list) {
        return parsePropStringToJSON(this.list)
      }
      return []
    },

    menuLogos: function () {
      if (this.logos) {
        return parsePropStringToJSON(this.logos)
      }
      return []
    },

    menuLinks: function () {
      if (this.links) {
        return parsePropStringToJSON(this.links)
      }
      return []
    },

    menuSocial: function () {
      if (this.social) {
        return parsePropStringToJSON(this.social)
      }
      return []
    },

    menuClass() {
      return {
        active: this.displayMenu,
        push: this.isPush,
        contextual: this.isContextual,
        large: this.density === "large",
        small: this.density === "small",
      }
    },
  },
  mounted() {
    this.instance = new BRMenu("br-menu", this.$refs.menu)
  },
  methods: {
    gotToUrl(groupMenu) {
      if (groupMenu.list === undefined && groupMenu.url) {
        location.href = groupMenu.url || "#"
      }
    },
    showLabelLinks(item) {
      let vStrFont = `
        <font-awesome-icon
          class="first-level"
          :icon="${item.icon}"
          size="1x"
          aria-hidden="true"
        />
      `
      if (item.url) {
        return vStrFont + `<a href="${item.url}"> ${item.name} </a>`
      } else {
        return vStrFont + ` ${item.name} `
      }
    },
    toggleMenu() {
      this.displayMenu = !this.displayMenu
    },
  },
}
</script>

<style lang="scss">
@import "@fortawesome/fontawesome-svg-core/styles";
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/menu/_menu";
</style>
