<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
-->
<!-- Avatar -->
<div>
  <h2>Avatar</h2>

  <p class="h5 pt-3">Avatar Icônico</p>
  <br-avatar iconic density="small" class="mt-1 mr-1"></br-avatar>
  <br-avatar iconic density="medium" class="mt-1 mr-1"></br-avatar>
  <br-avatar iconic density="large" class="mt-1 mr-1"></br-avatar>

  <p class="h5 pt-3">Avatar Fotográfico</p>
  <br-avatar image="https://picsum.photos/id/823/400" density="small" class="mt-1 mr-1"></br-avatar>
  <br-avatar image="https://picsum.photos/id/823/400" density="medium" class="mt-1 mr-1"></br-avatar>
  <br-avatar image="https://picsum.photos/id/823/400" density="large" class="mt-1 mr-1"></br-avatar>

  <p class="h5 pt-3">Avatar Letra</p>
  <br-avatar density="small" class="mt-1 mr-1"></br-avatar>
  <br-avatar density="medium" class="mt-1 mr-1"></br-avatar>
  <br-avatar density="large" class="mt-1 mr-1"></br-avatar>

</div>
