<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
-->
<!-- Breadcrumb -->
<div>
  <h2>Breadcrumb</h2>
  <br-breadcrumb label="Breadcrumb">
    <br-crumb label="Página inicial" home></br-crumb>
    <br-crumb label="Página Ancestral 01"></br-crumb>
    <br-crumb label="Página Ancestral 02" href="javascript:void(0)"> </br-crumb>
    <br-crumb label="Página atual" active></br-crumb>
  </br-breadcrumb>
  <br />
  <br-breadcrumb label="Testes">
    <br-crumb label="Início" home></br-crumb>
    <br-crumb label="Página Ancestral 01"></br-crumb>
    <br-crumb label="Página Ancestral 02"></br-crumb>
    <br-crumb label="Página Ancestral 03"></br-crumb>
    <br-crumb label="Página Ancestral Com Título Grande"></br-crumb>
    <br-crumb label="Página atual" active></br-crumb>
  </br-breadcrumb>
</div>
