<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
-->
<!-- Checkbox -->
<div>
  <h3>CHECKBOX</h3>

  <h4>Checkbox padrão</h4>

  <div>
    <p class="label mb-0">Rótulo</p>
    <p class="text-down-01">Informações adicionais</p>
    <div class="mb-1">
      <br-checkbox id="Unchecked" label="Unchecked"></br-checkbox>
    </div>
    <div class="mb-1">
      <br-checkbox id="Checked" label="Checked" checked></br-checkbox>
    </div>
    <div class="mb-1">
      <br-checkbox id="valid" label="Valid" format="valid"></br-checkbox>
    </div>
    <div class="mb-1">
      <br-checkbox id="invalid" label="Invalid" format="invalid"></br-checkbox>
    </div>
    <div class="mb-1">
      <br-checkbox id="disabled" label="Disabled" disabled></br-checkbox>
    </div>
    <div class="mb-1">
      <br-checkbox
        id="indeterminate"
        label="Indeterminate"
        indeterminate
      ></br-checkbox>
    </div>
    <br-message feedback state="warning">Campo desabilitado.</br-message>
  </div>

  <h4>Checkbox Inline</h4>
  <div>
    <p class="label mb-0">Rótulo</p>
    <p class="text-down-01">Informações adicionais</p>
    <br-checkbox id="unchecked-inline" label="Unchecked" inline></br-checkbox>
    <br-checkbox
      id="checked-inline"
      label="Checked"
      checked
      inline
    ></br-checkbox>
    <br-checkbox id="valid-inline" label="Valid" format="valid" inline></br-checkbox>
    <br-checkbox
      id="invalid-inline"
      label="Invalid"
      format="invalid"
      inline
    ></br-checkbox>
    <br-checkbox
      id="disabled-inline"
      label="Disabled"
      disabled
      inline
    ></br-checkbox>
  </div>
</div>
