<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
-->
<!-- Footer -->
<div>
  <h2>Footer Tema Padrão</h2>
  <br-footer
    text="Todo o conteúdo deste site está publicado sob a licença Creative Commons"
    categories="[
    { 
      title: 'Categoria 1',
      items: [
        {title: 'item 1', href: '/item1'},
        {title: 'item 2', href: '/item1'},
        {title: 'item 3', href: '/item1'},
        {title: 'item 4', href: '/item1'}
      ]
    },
    { 
      title: 'Categoria 2',
      items: [
        {title: 'item 5', href: 'http://www.google.com'},
        {title: 'item 6', href: '/item1'},
        {title: 'item 7', href: '/item1'},
        {title: 'item 8', href: '/item1'}
      ]
    }
    ]"
  >
    <br-footer-social-network slot="redesSociais" label="Redes Sociais">
      <br-footer-social-network-item url="http://www.facebook.com">
        <img
          src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png"
          alt="Imagem"
        />
      </br-footer-social-network-item>
      <br-footer-social-network-item url="http://www.twitter.com">
        <img
          src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png"
          alt="Imagem"
        />
      </br-footer-social-network-item>
      <br-footer-social-network-item url="http://www.instagram.com">
        <img
          src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png"
          alt="Imagem"
        />
      </br-footer-social-network-item>
      <br-footer-social-network-item url="http://www.linkedin.com">
        <img
          src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png"
          alt="Imagem"
        />
      </br-footer-social-network-item>
    </br-footer-social-network>

    <br-footer-logo
      slot="logo"
      src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-negative.png"
      alt="Acesso à informação"
    >
    </br-footer-logo>

    <div slot="footerImagens">
      <br-footer-image
        src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-assign-negative.png"
        alt="Acesso à informação"
        href="#acesso-a-informacao2"
      >
      </br-footer-image>
      <br-footer-image
        src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-assign-negative.png"
        alt="Acesso à informação"
        href="#acesso-a-informacao2"
      >
      </br-footer-image>
    </div>
  </br-footer>

  <h2>Footer Tema Invertido</h2>
  <br-footer
    text="Todo o conteúdo deste site está publicado sob a licença Creative Commons"
    inverted
    categories='[
    { 
      "title": "Categoria 1",  
      "items": [
        {"title": "item 1", "href": "/item1"},
        {"title": "item 2", "href": "/item1"},
        {"title": "item 3", "href": "/item1"},
        {"title": "item 4", "href": "/item1"}
      ]
    },
    { 
      "title": "Categoria 2",  
      "items": [
        {"title": "item 5", "href": "http://www.google.com"},
        {"title": "item 6", "href": "/item1"},
        {"title": "item 7", "href": "/item1"},
        {"title": "item 8", "href": "/item1"}
      ]
    }
    ]'
  >
    <br-list slot="categorias" horizontal data-toggle data-unique>
      <div class="col-2">
        <br-item header title="SERVICOS"></br-item>
        <br-list>
          <br-item url="https://www.google.com.br"
            >Financas, Impostos e gestao Publica</br-item
          >
          <br-item url="https://www.google.com.br">Assistencia Social</br-item>
          <br-item url="https://www.google.com.br">Justiça e Segurança</br-item>
          <br-divider class="d-md-none"></br-divider>
        </br-list>
      </div>
      <div class="col-2">
        <br-item header title="GALERIA DE APLICATIVOS"></br-item>
        <br-list>
          <br-item url="#">Trabalho e previdencia</br-item>
          <br-item url="#">Energias, minerais e combustiveis</br-item>
          <br-item url="#">Justiça e Seguraça</br-item>
          <br-item url="#">Educação e pesquisa</br-item>
          <br-divider class="d-md-none"></br-divider>
        </br-list>
      </div>
      <div class="col-2">
        <br-item header title="NOTICIAS"></br-item>
        <br-list>
          <br-item url="#">Assistencia Social</br-item>
          <br-item url="#">Meio ambiente e clima</br-item>
          <br-item url="#">Viagens e Turismo</br-item>
          <br-item url="#">Agricultura e pecuaria</br-item>
          <br-divider class="d-md-none"></br-divider>
        </br-list>
      </div>
      <div class="col-2">
        <br-item header title="PLANALTO"></br-item>
        <br-list>
          <br-item url="#">Agricultura e pecuaria</br-item>
          <br-item url="#">Transito e transportes</br-item>
          <br-item url="#">Assistencia Social</br-item>
          <br-item url="#">Cultura, artes, historia e esportes</br-item>
          <br-divider class="d-md-none"></br-divider>
        </br-list>
      </div>
      <div class="col-2">
        <br-item header title="CANAIS DO PODER EXECUTIVO FEDERAL"></br-item>
        <br-list>
          <br-item url="#">Cultura, artes, historia e esportes</br-item>
          <br-item url="#">Financas, Impostos e gestao Publica</br-item>
          <br-item url="#">Viagens e Turismo</br-item>
          <br-divider class="d-md-none"></br-divider>
        </br-list>
      </div>
    </br-list>

    <br-footer-social-network
      slot="redesSociais"
      label="Redes Sociais"
      inverted
    >
      <br-footer-social-network-item url="http://www.facebook.com">
        <img
          src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png"
          alt="Imagem"
        />
      </br-footer-social-network-item>
      <br-footer-social-network-item url="http://www.twitter.com">
        <img
          src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png"
          alt="Imagem"
        />
      </br-footer-social-network-item>
      <br-footer-social-network-item url="http://www.instagram.com">
        <img
          src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png"
          alt="Imagem"
        />
      </br-footer-social-network-item>
      <br-footer-social-network-item url="http://www.linkedin.com">
        <img
          src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png"
          alt="Imagem"
        />
      </br-footer-social-network-item>
    </br-footer-social-network>

    <br-footer-logo
      inverted
      slot="logo"
      src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-negative.png"
      alt="Acesso à informação"
    >
    </br-footer-logo>

    <div slot="footerImagens">
      <br-footer-image
        inverted
        src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-assign-negative.png"
        alt="Acesso à informação"
        href="#acesso-a-informacao2"
      >
      </br-footer-image>
      <br-footer-image
        inverted
        src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-assign-negative.png"
        alt="Acesso à informação"
        href="#acesso-a-informacao2"
      >
      </br-footer-image>
    </div>
  </br-footer>
</div>
