<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
-->
<!-- Header -->
<div id="header">
  <!-- Header Padrão -->
  <h2>Header</h2>
  <br-header
    image="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-positive.png"
    signature="Assinatura da empresa"
    title="Título do Header"
    subtitle="Subtítulo do Header"
    has-menu
    has-search
    placeholder-search="Digite o que deseja pesquisar."
  >
    <div slot="headerAction">
      <br-header-action
        has-login
        label-login="Entrar"
        title-links="Acesso Rápido"
        list-links='[
        {
          "name": "Link de acesso 1",
          "url": "#"
        },
        {
          "name": "Link de acesso 2",
          "url": "#"
        },
        {
          "name": "Link de acesso 3",
          "url": "#"
        }
      ]'
        title-functions="Funcionalidades do Sistema"
        list-functions='[
          {
            "icon": "chart-bar",
            "name": "Funcionalidade 1",
            "url": "#"
          },
          {
            "icon": "headset",
            "name": "Funcionalidade 2",
            "url": "#"
          },
          {
            "icon": "comment",
            "name": "Funcionalidade 3",
            "url": "#"
          }
        ]'
      >
      </br-header-action>
    </div>
  </br-header>

  <!-- Header Densidade Large -->
  <h2 style="margin-top: 60px">Header Densidade Large </h2>
  <br-header
    image="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-positive.png"
    signature="Assinatura da empresa"
    title="Título do Header"
    subtitle="Subtítulo do Header"
    has-menu
    density="large"
    has-search
    placeholder-search="Digite o que deseja pesquisar."
  >
    <div slot="headerAction">
      <br-header-action
        has-login
        label-login="Entrar"
        title-links="Acesso Rápido"
        list-links='[
        {
          "name": "Link de acesso 1",
          "url": "#"
        },
        {
          "name": "Link de acesso 2",
          "url": "#"
        },
        {
          "name": "Link de acesso 3",
          "url": "#"
        }
      ]'
        title-functions="Funcionalidades do Sistema"
        list-functions='[
          {
            "icon": "chart-bar",
            "name": "Funcionalidade 1",
            "url": "#"
          },
          {
            "icon": "headset",
            "name": "Funcionalidade 2",
            "url": "#"
          },
          {
            "icon": "comment",
            "name": "Funcionalidade 3",
            "url": "#"
          }
        ]'
      >
      </br-header-action>
    </div>
  </br-header>

  <!-- Header Densidade Small -->
  <h2 style="margin-top: 60px">Header Densidade Small </h2>
  <br-header
    image="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-positive.png"
    signature="Assinatura da empresa"
    title="Título do Header"
    subtitle="Subtítulo do Header"
    has-menu
    density="small"
    has-search
    placeholder-search="Digite o que deseja pesquisar."
  >
    <div slot="headerAction">
      <br-header-action
        has-login
        label-login="Entrar"
        title-links="Acesso Rápido"
        list-links='[
        {
          "name": "Link de acesso 1",
          "url": "#"
        },
        {
          "name": "Link de acesso 2",
          "url": "#"
        },
        {
          "name": "Link de acesso 3",
          "url": "#"
        }
      ]'
        title-functions="Funcionalidades do Sistema"
        list-functions='[
          {
            "icon": "chart-bar",
            "name": "Funcionalidade 1",
            "url": "#"
          },
          {
            "icon": "headset",
            "name": "Funcionalidade 2",
            "url": "#"
          },
          {
            "icon": "comment",
            "name": "Funcionalidade 3",
            "url": "#"
          }
        ]'
      >
      </br-header-action>
    </div>
  </br-header>

  <!-- Header Compacto -->
  <h2 style="margin-top: 60px">Header Compacto</h2>
  <br-header
    compact
    image="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-positive.png"
    signature="Assinatura da empresa"
    title="Título do Header"
    subtitle="Subtítulo do Header"
    has-menu
    has-search
    placeholder-search="Digite o que deseja pesquisar."
  >
    <div slot="headerAction">
      <br-header-action
        has-login
        label-login="Entrar"
        title-links="Acesso Rápido"
        list-links="[
        {
          name: 'Link de acesso 1',
          url: '#'
        },
        {
          name: 'Link de acesso 2',
          url: '#'
        },
        {
          name: 'Link de acesso 3',
          url: '#'
        }
      ]"
        title-functions="Funcionalidades do Sistema"
        list-functions="[
          {
            icon: 'chart-bar',
            name: 'Funcionalidade 1',
            url: '#'
          },
          {
            icon: 'headset',
            name: 'Funcionalidade 2',
            url: '#'
          },
          {
            icon: 'comment',
            name: 'Funcionalidade 3',
            url: '#'
          }
        ]"
      >
      </br-header-action>
    </div>
  </br-header>

    <!-- Header Container Fluid -->
    <h2 style="margin-top: 60px">Header Container Fluid </h2>
    <br-header
      image="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-positive.png"
      signature="Assinatura da empresa"
      title="Título do Header"
      subtitle="Subtítulo do Header"
      has-menu
      container-fluid
      has-search
      placeholder-search="Digite o que deseja pesquisar."
    >
      <div slot="headerAction">
        <br-header-action
          has-login
          label-login="Entrar"
          title-links="Acesso Rápido"
          list-links='[
          {
            "name": "Link de acesso 1",
            "url": "#"
          },
          {
            "name": "Link de acesso 2",
            "url": "#"
          },
          {
            "name": "Link de acesso 3",
            "url": "#"
          }
        ]'
          title-functions="Funcionalidades do Sistema"
          list-functions='[
            {
              "icon": "chart-bar",
              "name": "Funcionalidade 1",
              "url": "#"
            },
            {
              "icon": "headset",
              "name": "Funcionalidade 2",
              "url": "#"
            },
            {
              "icon": "comment",
              "name": "Funcionalidade 3",
              "url": "#"
            }
          ]'
        >
        </br-header-action>
      </div>
    </br-header>

</div>
