<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
-->
<!-- Input -->

  <h3>Input</h3>
  <br-input
    label="Nome completo"
    placeholder="Input Padrão"
  ></br-input>
  <br/>

  <br-input
  label-inline="Nome completo"
  placeholder="Input Padrão com label-inline"
  ></br-input>
  <br/>

  <br-input
  label="Nome completo"
  placeholder="Input Destaque (Highlight)"
  is-highlight
  density="large"
  ></br-input>
  <br/>

  <br-input
  label="Label/Rótulo"
  placeholder="Placeholder"
  icon-sign="edit"
  ></br-input>
  <br/>

  <br-input
    label="Senha"
    placeholder="Digite a senha de 8 a 11 dígitos"
    density="medium"
    ispassword
  ></br-input>
  <br/>

  <br-input
    label="Logar"
    placeholder="Digite seu usuário"
    density="small"
    icon="arrow-right"
  ></br-input>
  <br/>

  <br-input
  label="Nome"
  placeholder="Placeholder"
  icon-sign="user"
  icon="arrow-right"
  ></br-input>
  <br/>

  <br-input
  label-inline="Nome"
  placeholder="Placeholder"
  is-highlight
  icon-sign="user"
  icon="arrow-right"
  ></br-input>
  <br/>

  <br-input
  label-inline="Nome"
  placeholder="Placeholder"
  icon-sign="user"
  icon="arrow-right"
  ></br-input>
  <br/>

  <br-input label="CPF" placeholder="Digite somente números" disabled>
  </br-input>
  <br-message feedback state="warning">Campo desabilitado.</br-message>
  <br/>

  <br-input label="CPF" placeholder="Digite somente números" state="success">
  </br-input>
  <br-message feedback state="success">CPF válido.</br-message>
  <br/>

  <br-input label="CPF" placeholder="Digite somente números" state="info">
  </br-input>
  <br-message feedback state="info">CPF não cadastrado ainda.</br-message>
  <br/>

  <br-input label="CPF" placeholder="Digite somente números" state="warning">
  </br-input>
  <br-message feedback state="warning">CPF verificar informação.</br-message>
  <br/>

  <br-input label="CPF" placeholder="Digite somente números" state="danger">
  </br-input>
  <br-message feedback state="danger">CPF inválido.</br-message>
</div>
