<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
-->
<!-- Loading -->
<div>
  <h2>Loading</h2>
  <div class="container-fluid">
    <h3>LOADING</h3>

    <div class="container-fluid">
      <p class="h5">Com porcentagem</p>
      <br-loading progress percent="75"></br-loading>
    </div>

    <div class="container-fluid">
      <p class="h5 mt-5">Indeterminado médio</p>
      <div class="row">
        <div class="col-auto">
          <br-loading medium label="carregando..."></br-loading>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <p class="h5 mt-5">Indeterminado pequeno</p>
      <div class="row">
        <div class="col-auto">
          <br-loading label="carregando..."></br-loading>
        </div>
      </div>
    </div>
  </div>
</div>
