<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
-->
<!-- Lista -->
<div>
  <h2>Lista</h2>
  <br-list title="Lista simples">
    <br-item title="Botão" id="panel-01">
      <br-button label="Primário" type="primary" icon="home"></br-button>
    </br-item>
    <br-divider></br-divider>
    <br-item title="Sobre" id="panel-1">
      <p>Sobre</p>
    </br-item>
    <br-divider></br-divider>
    <br-item title="Todos" id="panel-2">
      <p>Todos</p>
    </br-item>
    <br-divider></br-divider>
    <br-item title="Notícias" id="panel-3">
      <p>Notícias</p>
    </br-item>
    <br-divider></br-divider>
    <br-item title="Serviços" id="panel-4">
      <p>Serviços</p>
    </br-item>
    <br-divider></br-divider>
    <br-item title="Aplicativos" id="panel-5">
      <p>Aplicativos</p>
    </br-item>
    <br-divider></br-divider>
    <br-item title="Mídias" id="panel-6">
      <p>Mídias</p>
    </br-item>
  </br-list>
  <h2>Lista expansivel</h2>
  <div class="row">
    <div class="col-6 br-divider vertical">
      <br-list data-toggle title="<br-list data-toggle>...</br-list>">
        <br-item title="Item 1">
          <br-list>
            <br-item href="http://www.google.com">Subitem 1.1</br-item>
            <br-item>Subitem 1.2</br-item>
            <br-item>Subitem 1.3</br-item>
          </br-list>
        </br-item>

        <br-divider></br-divider>
        <br-item title="Item 2">
          <br-list>
            <br-item>Detalhes do item 2</br-item>
          </br-list>
        </br-item>
        <br-divider></br-divider>
        <br-item title="Item 3">
          <br-list> Mais detalhes sobre o item 3 </br-list>
        </br-item>
        <br-divider></br-divider>
        <br-item title="Item 4">
          <br-list> Mais detalhes sobre o item 4 </br-list>
        </br-item>
      </br-list>
    </div>
    <div class="col-6">
      <br-list data-toggle data-unique title="<br-list data-toggle data-unique>...</br-list>">
        <br-item title="Item 1">
          <br-list>
            <br-item>Subitem 1.1</br-item>
            <br-item>Subitem 1.2</br-item>
            <br-item>Subitem 1.3</br-item>
          </br-list>
        </br-item>

        <br-divider></br-divider>
        <br-item title="Item 2">
          <br-list>
            <br-item>Detalhes do item 2</br-item>
          </br-list>
        </br-item>
        <br-divider></br-divider>
        <br-item title="Item 3">
          <br-list> Mais detalhes sobre o item 3 </br-list>
        </br-item>
        <br-divider></br-divider>
        <br-item title="Item 4">
          <br-list> Mais detalhes sobre o item 4 </br-list>
        </br-item>
      </br-list>
    </div>
  </div>
</div>
