<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
-->
<!-- Tab -->
<div id="tab">
  <h2>Tab</h2>
  <br-tab label="Abas de Navegação Simples" density="small">
    <br-tab-item title="Sobre" id="panel-1" icon="image">
      <p>Sobre</p>
    </br-tab-item>
    <br-tab-item title="Todos" id="panel-2" icon="image">
      <p>Todos</p>
    </br-tab-item>
    <br-tab-item title="Notícias" id="panel-3">
      <p>Notícias</p>
    </br-tab-item>
    <br-tab-item title="Serviços" id="panel-4">
      <p>Serviços</p>
    </br-tab-item>
    <br-tab-item title="Aplicativos" id="panel-5">
      <p>Aplicativos</p>
    </br-tab-item>
    <br-tab-item title="Mídias" id="panel-6">
      <p>Mídias</p>
    </br-tab-item>
  </br-tab>
  <h2>Tab com fundo escuro</h2>
  <div>
    <br-tab label="Abas de Navegação Simples" density="small" inverted>
      <br-tab-item title="Sobre" id="panel-1" icon="image">
        <p>Sobre</p>
      </br-tab-item>
      <br-tab-item title="Todos" id="panel-2" icon="image">
        <p>Todos</p>
      </br-tab-item>
      <br-tab-item title="Notícias" id="panel-3">
        <p>Notícias</p>
      </br-tab-item>
      <br-tab-item title="Serviços" id="panel-4">
        <p>Serviços</p>
      </br-tab-item>
      <br-tab-item title="Aplicativos" id="panel-5">
        <p>Aplicativos</p>
      </br-tab-item>
      <br-tab-item title="Mídias" id="panel-6">
        <p>Mídias</p>
      </br-tab-item>
    </br-tab>
  </div>
  <h2>Tab com contadores</h2>
  <br-tab label="Abas de Navegação Simples" density="small" counter>
    <br-tab-item title="Sobre" id="panel-1" icon="image" results="120">
      <p>Sobre</p>
    </br-tab-item>
    <br-tab-item title="Todos" id="panel-2" results="124">
      <p>Todos</p>
    </br-tab-item>
    <br-tab-item title="Notícias" id="panel-3" results="74">
      <p>Notícias</p>
    </br-tab-item>
    <br-tab-item title="Serviços" id="panel-4" results="16">
      <p>Serviços</p>
    </br-tab-item>
    <br-tab-item title="Aplicativos" id="panel-5" results="12">
      <p>Aplicativos</p>
    </br-tab-item>
  </br-tab>
</div>
