<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <li
    class="crumb"
    :class="{ home: home }"
    :data-active="active ? 'active' : null"
    :title="label"
  >
    <br-button v-if="home" v-bind="$attrs" density="small" circle>
      <font-awesome-icon icon="home" size="sm" aria-hidden="true" />
      <span class="sr-only">{{ label }}</span>
    </br-button>

    <font-awesome-icon
      v-else
      icon="chevron-right"
      size="sm"
      aria-hidden="true"
      class="icon"
    />

    <span v-if="active">{{ label }}</span>

    <a v-if="!active && !home" :href="href" :target="target">
      {{ label }}
    </a>
  </li>
</template>

<script>
import FontAwesomeIcon from "../../font-awesome-share"
import BrButton from "../Button/Button.ce.vue"

const Crumb = {
  name: "br-crumb",
  components: {
    FontAwesomeIcon,
    BrButton,
  },
  props: {
    /** Label desse crumb, é o texto visível ao usuário */
    label: {
      type: String,
      validator: function (val) {
        return val.trim().length > 1
      },
    },
    /** Define se é o crumb que não exibe texto mas sim o ícone de uma casa ("Home") */
    home: {
      type: Boolean,
      default: false,
    },
    /** Define se esse é o crumb ativo */
    active: {
      type: Boolean,
      default: false,
    },
    /** Caso definido será o crumb terá comportamento de link */
    href: {
      type: String,
      default: undefined,
    },
    /**
     * Destino do link a ser aberto por este crumb.
     * Segue as mesmas definiçõs do atributo "target" do elemento HTML "a" (link)
     **/
    target: {
      type: String,
      default: "_self",
      validator: function (value) {
        return ["_self", "_blank", "_parent", "_top", "framename"].includes(
          value
        )
      },
    },
  },
}
export default Crumb
</script>

<style lang="scss">
@import "~@fortawesome/fontawesome-svg-core/styles";
@import "~@govbr/dsgov/src/partial/scss/dsgov-base.scss";
@import "~@govbr/dsgov/src/components/button/_button";
@import "~@govbr/dsgov/src/components/breadcrumb/_mixins";

:host {
  @include breadcrumb-crumb;
}
</style>
