<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <span v-bind="$attrs" class="br-divider" :class="classObject" />
</template>

<script>
export default {
  name: "BrDivider",
  props: {
    /**
     * Posiciona verticalmente o componente br-divider
     */
    vertical: { type: Boolean, default: false },
    /**
     * **[Opcional]** O ajuste consiste em aumentar ou reduzir o divider de forma a deixá-lo mais compacto ou mais expandido em seu formato. **[ small | medium| large ]**
     */
    size: {
      type: String,
      default: null,
      validator: function (value) {
        return ["small", "medium", "large"].includes(value)
      },
    },
    /**
     * **[Opcional]** Deixa a linha do componente tracejada
     */
    dashed: { type: Boolean, default: false },
  },
  computed: {
    classObject() {
      return {
        sm: this.size === "small",
        md: this.size === "medium",
        lg: this.size === "large",
        vertical: this.vertical,
        dashed: this.dashed,
      }
    },
  },
}
</script>

<style lang="scss">
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/components/divider/_divider";

.br-divider.vertical,
hr.vertical {
  align-self: stretch;
  border-right-width: var(--divider-size);
  border-top-width: 50px !important;
}

.br-divider,
hr {
  border-top: var(--divider-size) var(--divider-style) var(--divider-color) !important;
}
</style>
