<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <a :href="href">
    <img
      class="ml-4 logo-footer-ajuste"
      :src="src"
      :alt="alt"
      :style="inverted ? 'filter: invert(1)' : null"
    >
  </a>
</template>

<script>
export default {
  name: "BrFooterImage",
  props: {
    /**
     * **[OPCIONAL]** Inverte o tema do componente para a versão mais escura.
     */
    inverted: {
      type: Boolean,
      default: false,
    },
    /**
     * **[OPCIONAL]** Informa o caminho da imagem a ser carregada.
     */
    src: {
      type: String,
      default: "",
    },
    /**
     * **[OPCIONAL]** Informa o caminho da link a ser visitado.
     */
    href: {
      type: String,
      default: "",
    },
    /**
     * **[OPCIONAL]** Informa a descricao da imagem que será carregada.
     */
    alt: {
      type: String,
      default: "Descrição da imagem",
    },
  },
}
</script>

<style lang="scss">
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/footer/_footer";

.logo-footer-ajuste {
  max-height: 46px;
  max-width: 180px;
}
</style>
