<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template #headerAction>
  <div class="header-actions" :style="{ float: isCompact ? floatRight : null }">
    <div
      v-if="listLinks"
      class="header-links dropdown"
      :class="{ show: showLink }"
    >
      <br-button
        circle
        density="small"
        :class="{ active: showLink }"
        data-toggle="dropdown"
        :aria-label="titleLinks"
        @click="openLinks()"
      >
        <font-awesome-icon icon="ellipsis-v" aria-hidden="true" size="1x" />
      </br-button>
      <br-list>
        <div class="header">
          <div class="title">
            {{ titleLinks }}
          </div>
        </div>
        <br-item
          v-for="item in menuLinks"
          :key="item.name"
          hover
          :href="item.url"
        >
          {{ item.name }}
        </br-item>
      </br-list>
    </div>
    <br-divider
      v-if="listLinks && listFunctions"
      vertical
      class="mx-half mx-sm-1"
    />
    <div
      v-if="listFunctions"
      class="header-functions dropdown"
      :class="{ show: showFunction }"
    >
      <br-button
        circle
        density="small"
        :class="{ active: showFunction }"
        data-toggle="dropdown"
        :aria-label="titleFunctions"
        @click="openFunctions()"
      >
        <font-awesome-icon icon="th" aria-hidden="true" />
      </br-button>
      <br-list>
        <div class="header">
          <div class="title">
            {{ titleFunctions }}
          </div>
        </div>
        <br-item
          v-for="item in menuIcons"
          :key="item.name"
          class="align-items-center"
          :href="item.url"
        >
          <br-button circle density="small">
            <font-awesome-icon :icon="item.icon" size="1x" aria-hidden="true" />
            <span class="text"> {{ item.name }}</span>
          </br-button>
        </br-item>
      </br-list>
    </div>
    <div
      v-if="isSearch || (isCompact && isSearch)"
      class="header-search-trigger"
      :style="{ display: isCompact && isSearch ? displayBlock : null }"
    >
      <BrHeaderActionSearch @open-search="openInputSearch($event)" />
    </div>
    <div v-if="hasLogin" class="header-login">
      <div class="header-sign-in">
        <br-button density="small" class="sign-in" data-trigger="login">
          <font-awesome-icon icon="user" aria-hidden="true" />
          <span class="d-sm-inline">{{ labelLogin }}</span>
        </br-button>
      </div>
    </div>
  </div>
</template>
<script>
import FontAwesomeIcon from "../../font-awesome-share"
import BrHeaderActionSearch from "./HeaderActionSearch.ce.vue"
import BrButton from "../Button/Button.ce.vue"
import BrItem from "../Item/Item.ce.vue"
import { parsePropStringToJSON } from "../../util/Utils.js"
import BrList from "../List/List.ce.vue"

export default {
  name: "HeaderAction",
  components: {
    FontAwesomeIcon,
    BrHeaderActionSearch,
    BrButton,
    BrItem,
    BrList,
  },
  inject: ["provideAction"],
  props: {
    /**
     * **[OPCIONAL]** Insere botão de Autenticar.
     */
    hasLogin: {
      default: false,
      type: Boolean,
    },
    /**
     * **[OPCIONAL]** Label do botão de Autenticar.
     */
    labelLogin: {
      default: null,
      type: String,
    },
    /**
     * **[OPCIONAL]** Título para a listagem de links.
     */
    titleLinks: {
      default: null,
      type: String,
    },
    /**
     * **[OPCIONAL]** Título para a listagem de funções.
     */
    titleFunctions: {
      default: null,
      type: String,
    },
    /**
     * Lista de Links. Recebe uma string no formato JSON ou um Objeto. Para webcomponents é necessário ser tipo String.
     */
    listLinks: {
      default: null,
      type: [String, Object],
    },
    /**
     * Lista de Ícones. Recebe uma string no formato JSON ou um Objeto. Para webcomponents é necessário ser tipo String.
     */
    listFunctions: {
      default: null,
      type: [String, Object],
    },
  },
  data() {
    return {
      showLink: false,
      showFunction: false,
      displayBlock: "block",
      floatRight: "right",
    }
  },

  computed: {
    isSearch: function () {
      return this.provideAction.isSearch()
    },

    isCompact: function () {
      return this.provideAction.isCompact()
    },

    menuIcons: function () {
      if (this.listFunctions) {
        return parsePropStringToJSON(this.listFunctions)
      }
      return []
    },

    menuLinks: function () {
      if (this.listLinks) {
        return parsePropStringToJSON(this.listLinks)
      }
      return []
    },
  },

  created() {
    window.addEventListener("resize", this.onResize)
  },

  beforeUnmount() {
    window.removeEventListener("resize", this.onResize)
  },

  methods: {
    openLinks() {
      this.showLink = !this.showLink
      if (this.showFunction) {
        this.showFunction = !this.showFunction
      }
    },

    openFunctions() {
      this.showFunction = !this.showFunction
      if (this.showLink) {
        this.showLink = !this.showLink
      }
    },

    openInputSearch(open) {
      this.$parent.isActive = open
      if (this.showLink) {
        this.showLink = !this.showLink
      }
      if (this.showFunction) {
        this.showFunction = !this.showFunction
      }
    },

    onResize() {
      if (window.innerWidth > 1279) {
        this.showLink = false
        this.showFunction = false
      }
    },
  },
}
</script>
<style lang="scss">
@import "~@fortawesome/fontawesome-svg-core/styles";
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/header/_header";
@import "~@govbr/dsgov/src/components/divider/_divider";
@import "~@govbr/dsgov/src/components/button/_button";
@import "~@govbr/dsgov/src/components/list/_list";
@import "~@govbr/dsgov/src/components/signin/_signin";
@import "~@govbr/dsgov/src/components/item/_item";

:host {
  @include header-actions;
}

/* Hack para ajuste do hover do link */
a.br-item:not(:disabled):active,
button.br-item:not(:disabled):active {
  background-image: none;
}

a.br-item:not(:disabled):hover,
button.br-item:not(:disabled):hover {
  background-image: none;
}
</style>
