<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <div class="br-checkbox" :class="checkClass">
    <input
      v-bind="$attrs"
      :id="id"
      ref="input"
      v-model="proxyChecked"
      type="checkbox"
      :disabled="disabled"
      :aria-label="ariaLabel"
      :name="name"
      :value="value"
    />
    <label :for="id">{{ label }}</label>
  </div>
</template>

<script>
export default {
  name: "BrCheckbox",
  inheritAttrs: false,
  model: {
    prop: "checked",
    event: "change",
  },
  props: {
    /** **[Opcional]** Texto descritivo, localizado sempre à direita da caixa de opção.*/
    label: {
      type: String,
      validator: function (value) {
        return value.length > 0
      },
      default: "",
    },
    /** **[Opcional]** Desabilita o checkbox. */
    disabled: {
      type: Boolean,
      default: false,
    },
    /** **[Opcional]** Formata o checkbox para valido ou invalido */
    format: {
      type: String,
      validator: function (value) {
        return ["invalid", "valid"].includes(value)
      },
      default: "",
    },
    /** **[Opcional]** Formata o componente para versão horizontal. */
    inline: {
      type: Boolean,
      default: false,
    },
    /** **[Opcional]** Acessibilidade: define uma cadeia de caracteres para descrever o elemento. */
    ariaLabel: {
      type: String,
      validator: function (value) {
        return value.length > 0
      },
      default: "",
    },
    /** **[Opcional]** Define o name que será atribuido ao checkbox. */
    name: {
      type: String,
      default: null,
    },
    /** Estado checked. */
    checked: {
      default: false,
      type: [Array, Boolean],
    },
    /** **[Opcional]** Ativa a aparência indeterminada da caixa de seleção. */
    indeterminate: {
      type: Boolean,
      default: false,
    },
    /** O valor da caixa de seleção */
    value: {
      type: String,
      default: null,
    },
  },
  emits: ["change"],
  data() {
    return {
      id: "br-checkbox-" + this._.uid,
    }
  },
  computed: {
    checkClass() {
      // `this` points to the vm instance
      return {
        invalid: this.format == "invalid" ? "invalid" : "",
        valid: this.format == "valid" ? "valid" : "",
        "d-inline": this.inline ? "inline" : "",
        disabled: this.disabled ? "disabled" : "",
      }
    },
    proxyChecked: {
      get() {
        return this.checked || this.indeterminate
      },
      set(val) {
        if (!this.indeterminate) this.$emit("change", val)
      },
    },
  },
  mounted() {
    if (this.indeterminate) {
      this.$refs.input.setAttribute("indeterminate", true)
    }
  },
}
</script>

<style lang="scss">
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/checkbox/_checkbox";
@import "~@govbr/dsgov/src/components/input/_input";
</style>
