<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <div
    class="br-tab"
    :class="[verifiedClassesActive, checkedInvertedState]"
    :data-counter="counter"
  >
    <nav class="tab-nav" :aria-label="label">
      <ul>
        <li
          v-for="(tab, index) in tabs"
          :key="tab.title"
          class="tab-item"
          :class="{ 'is-active': index == selectedIndex }"
          @click="selectTab(index)"
        >
          <template v-if="!tab.icon">
            <button
              type="button"
              :data-panel="tab.id"
              :aria-label="tab.id"
              @click="$emit('onTabItemClick', tab)"
            >
              <span class="name">
                {{ tab.title }}
              </span>
            </button>
          </template>

          <template v-if="tab.icon">
            <button type="button" :data-panel="tab.id" :aria-label="tab.id">
              <span class="name">
                <span class="d-flex flex-column flex-sm-row">
                  <span class="icon mb-1 mb-sm-0 mr-sm-1">
                    <font-awesome-icon
                      :icon="tab.icon"
                      aria-hidden="true"
                      size="sm"
                    />
                  </span>
                  <span class="name">{{ tab.title }}</span>
                </span>
              </span>
            </button>
          </template>
          <span v-if="tab.results !== ''" class="results">
            ( {{ tab.results }} )
          </span>
        </li>
      </ul>
    </nav>
    <div class="tab-content">
      <slot />
    </div>
  </div>
</template>

<script>
import FontAwesomeIcon from "../../font-awesome-share"

const BrTab = {
  name: "br-tab",
  components: {
    FontAwesomeIcon,
  },
  inject: ["parentNotification"],
  provide() {
    return {
      parentTab: this,
      parentNotification: this.parentNotification,
    }
  },
  props: {
    /** Aria label para descrição da tabela */
    label: {
      type: String,
      default: "Abas de Navegação Simples",
    },
    /** Tipo das densidades do tab as opções válidas são "small", "medium" e "large" */
    density: {
      default: "small",
      type: String,
      validator: function (value) {
        return ["small", "medium", "large"].includes(value)
      },
    },
    /** Aplica background Escuro e inverte as cores das fontes */
    inverted: {
      type: Boolean,
      default: false,
    },
    /** Informa que o tab apresenta contadores */
    counter: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["onTabItemClick"],
  data() {
    return {
      tabs: [],
      selectedIndex: 0,
      densityProp: this.density,
      invertedProp: this.inverted,
    }
  },
  computed: {
    verifiedClassesActive() {
      return {
        small: this.densityProp === "small",
        medium: this.densityProp === "medium",
        large: this.densityProp === "large",
        inverted: this.invertedProp,
      }
    },
    checkedInvertedState() {
      // verifica se o estado foi invertido
      return {
        "bg-primary-darken-01 p-3": this.invertedProp,
      }
    },
  },
  created() {
    this.tabs = this.$children
  },
  mounted() {
    this.$nextTick(function () {
      this.selectTab(0)
    })
  },
  methods: {
    selectTab(i) {
      if (this.tabs) {
        this.selectedIndex = i
        this.tabs.forEach((tab, index) => {
          tab.setActive(index === i)
        })
      }
    },
    addTabItem(tabItem) {
      if (!this.tabs) {
        this.tabs = []
      }
      this.tabs.push(tabItem)
    },
  },
}

export default BrTab
</script>

<style lang="scss">
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/tab/_tab";
@import "@fortawesome/fontawesome-svg-core/styles";
</style>
