<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <div class="br-magic-button" :class="checkClassDensity">
    <button
      v-bind="$attrs"
      class="br-button"
      :class="checkClassCircle"
      type="button"
      :aria-label="ariaLabel"
    >
      <font-awesome-icon v-if="icon" :icon="icon" aria-hidden="true" />
      {{ label }}
    </button>
  </div>
</template>

<script>
import FontAwesomeIcon from "../../font-awesome-share"

export default {
  name: "BrButton",
  components: {
    FontAwesomeIcon,
  },
  props: {
    /**
     * **[Obrigatório]** Obrigatório no magic button pílula.
     */
    label: {
      type: String,
      validator: function (value) {
        return value.length > 0
      },
      default: "",
    },
    /**
     * **[Obrigatório]** Obrigatório no magic button redondo. Possibilidade de uso de ícone no magic button pílula, no entanto é recomendado o uso apenas de texto curto e direto e que cause grande impacto.
     */
    icon: {
      type: [String],
      default: "",
      validator: function (value) {
        return value.length > 0
      },
    },
    /**
     *  **[Opcional]** O ajuste da densidade consiste em aumentar ou reduzir os espaçamentos internos do botão de forma a deixá-los mais compactos ou mais expandidos em seu formato. **[ large | middle | small ]**
     */
    density: {
      type: String,
      default: "medium",
      validator: function (value) {
        return ["large", "medium", "small"].includes(value)
      },
    },
    /**
     *  **[Opcional]** O ajuste da button magic consiste em tornar o botão em um formato circular. **[ cicle ]**
     */
    circle: {
      type: Boolean,
      default: false,
    },
    /**
     *  **[Opcional]** Acessibilidade - Recomenda-se seu uso em botões que tenham somente ícone como conteúdo.
     */
    ariaLabel: {
      type: String,
      default: null,
    },
  },
  computed: {
    checkClassDensity() {
      return {
        large: this.density === "large",
        medium: this.density === "medium",
        small: this.density === "small",
      }
    },
    checkClassCircle() {
      return {
        circle: this.circle && !this.label,
      }
    },
  },
}
</script>

<style lang="scss">
@import "@fortawesome/fontawesome-svg-core/styles";
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/button/_button";
@import "~@govbr/dsgov/src/components/magicbutton/_magicbutton";
</style>
