<!--
This file is part of DSGOV.BR - Web Components.

DSGOV.BR - Web Components is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
at your option) any later version.

DSGOV.BR - Web Components is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with DSGOV.BR - Web Components. If not, see <https://www.gnu.org/licenses/>6.

Copyright 2021 Serpro.
 -->
<template>
  <div
    v-if="active && !feedback"
    class="br-message"
    :class="stateClass"
    role="alert"
  >
    <div v-if="showIcon" class="icon">
      <font-awesome-icon v-if="state === 'info'" icon="info-circle" size="lg" />
      <font-awesome-icon
        v-if="state === 'warning'"
        icon="exclamation-triangle"
        size="lg"
      />
      <font-awesome-icon
        v-if="state === 'danger'"
        icon="times-circle"
        size="lg"
      />
      <font-awesome-icon
        v-if="state === 'success'"
        icon="check-circle"
        size="lg"
      />
    </div>

    <div class="content">
      <strong v-if="title">{{ title }}</strong>
      <br v-if="title && !inline" />
      <slot />
    </div>

    <div v-if="closable && !feedback" class="close">
      <button
        class="br-button circle small"
        type="button"
        aria-label="Fechar"
        @click="dismiss()"
      >
        <font-awesome-icon icon="times" size="sm" />
      </button>
    </div>
  </div>

  <p v-if="feedback">
    <span class="feedback" role="alert" :class="stateClass">
      <font-awesome-icon
        v-if="state === 'info' && showIcon"
        icon="info-circle"
        size="1x"
        aria-hidden="true"
      />
      <font-awesome-icon
        v-if="state === 'warning' && showIcon"
        icon="exclamation-triangle"
        size="1x"
        aria-hidden="true"
      />
      <font-awesome-icon
        v-if="state === 'danger' && showIcon"
        icon="times-circle"
        size="1x"
        aria-hidden="true"
      />
      <font-awesome-icon
        v-if="state === 'success' && showIcon"
        icon="check-circle"
        size="1x"
        aria-hidden="true"
      />
      <slot />
    </span>
  </p>
</template>

<script>
import FontAwesomeIcon from "../../font-awesome-share"

export default {
  name: "BrMessage",
  components: {
    FontAwesomeIcon,
  },
  props: {
    /**
     * **[OPCIONAL]** Mensagem contextual, refere-se diretamente à ação do usuário sobre algum Componente. Por exemplo, a mensagem de validação de campo de texto.
     */
    feedback: {
      default: false,
      type: Boolean,
    },
    /**
     * **[OBRIGATÓRIO]** Define os estados. **state = "info | warning | danger |success"**
     */
    state: {
      default: "info",
      type: String,
      validator: function (value) {
        return ["info", "warning", "danger", "success"].includes(value)
      },
    },
    /**
     * **[OPCIONAL]** Por padrão, o título é posicionado no início, ACIMA da mensagem. Serve dar destaque à mensagem textual. Não disponível para mensagem do tipo feedback.
     */
    title: {
      type: String,
      validator: function (value) {
        return value.length > 0
      },
      default: "",
    },
    /**
     * **[OPCIONAL]** Para que a propriedade "title" seja incluída no início, NA MESMA LINHA da mensagem.
     */
    inline: {
      default: false,
      type: Boolean,
    },
    /**
     * **[OPCIONAL]** Utilizado quando o background possui cores escuras.
     */
    inverted: {
      default: false,
      type: Boolean,
    },
    /**
     * **[OPCIONAL]** Tem a função de ocultar o Componente Message da tela por meio do botão de fechar. Não disponível para mensagem do tipo feedback.
     */
    closable: {
      default: false,
      type: Boolean,
    },
    /**
     * **[OPCIONAL]** Tem a função de ocultar/mostrar o ícone da Message da tela.
     */
    showIcon: {
      default: false,
      type: Boolean,
    },
  },
  data() {
    return {
      active: true,
    }
  },
  computed: {
    stateClass() {
      return [
        {
          info: this.state === "info",
          warning: this.state === "warning",
          danger: this.state === "danger",
          success: this.state === "success",
          inverted: this.inverted,
        },
      ]
    },
  },
  methods: {
    dismiss() {
      this.active = false
    },
  },
}
</script>
<style lang="scss">
@import "~@govbr/dsgov/src/partial/scss/_base";
@import "~@govbr/dsgov/src/partial/scss/_utilities";
@import "~@govbr/dsgov/src/components/message/_message";
@import "~@govbr/dsgov/src/components/button/_button";
@import "@fortawesome/fontawesome-svg-core/styles";
</style>
